<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Projeto Vogue</title>
</head>
<body>
    <div id="video-container">
        <h1>Detection Dashboard</h1>
        <div class="row md-3">
            <div class="col">
                <img src="{{ url_for('video_feed') }}" alt="YOLOv4 Detection">
            </div>
    

                <div class="col-md-3">
                    <h2>Total People Count: {{ total_people_count }}</h2>
                    <h4>Looking at Camera Count: {{ not_looking_count }}</h4>
                    <canvas id="peopleChart" width="100%" height="100%"></canvas>
                </div>
                <div class="col-md-3">
                    <canvas id="notLookingChart" width="100%" height="100%"></canvas>
                </div>

        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        // You may customize and populate the chart data based on your requirements
        var peopleChart = new Chart(document.getElementById('peopleChart').getContext('2d'), {
            type: 'bar',
            data: {
                labels: ['Total People', 'Looking'],
                datasets: [{
                    data: [{{ total_people_count }}, {{ not_looking_count }}],
                    backgroundColor: ['#36A2EB', '#FF6384'],
                    borderWidth: 1
                }]
            }
        });

        var notLookingChart = new Chart(document.getElementById('notLookingChart').getContext('2d'), {
            type: 'pie',
            data: {
                labels: ['Not Looking at Camera', 'Looking at Camera'],
                datasets: [{
                    data: [{{ total_people_count - not_looking_count }}, {{ not_looking_count }}],
                    backgroundColor: ['#FF6384', '#4CAF50']
                }]
            }
        });
    </script>
</body>
</html>
